{{- $person := dict
      "@type" "Person"
      "@id" (printf "%s#person" site.BaseURL)
      "name" site.Params.author
      "url" site.BaseURL
      "sameAs" (slice site.Params.github site.Params.x) -}}
{{- $website := dict
      "@type" "WebSite"
      "@id" (printf "%s#website" site.BaseURL)
      "name" site.Params.brand
      "url" site.BaseURL
      "inLanguage" "en"
      "publisher" (dict "@id" (printf "%s#person" site.BaseURL)) -}}
{{- $graph := slice $person $website -}}
{{- if and .IsPage (eq .Section "log") -}}
  {{- $post := dict
        "@type" "BlogPosting"
        "headline" .Title
        "datePublished" (.Date.Format "2006-01-02")
        "author" (dict "@id" (printf "%s#person" site.BaseURL))
        "mainEntityOfPage" .Permalink -}}
  {{- with .Params.summary }}{{ $post = merge $post (dict "description" .) }}{{ end -}}
  {{- $graph = $graph | append $post -}}
{{- end -}}
<script type="application/ld+json">{{ (dict "@context" "https://schema.org" "@graph" $graph) | jsonify | safeJS }}</script>
